[Unit]
Description=Apache Kafka Connect - distributed
Documentation=http://docs.confluent.io/
After=network.target kafka.target

[Service]
Type=simple
User=root
Group=users
Environment="JAVA_HOME=/app/jdk-11"
Environment="KAFKA_HEAP_OPTS=-Xmx1G -Xms1G" "JMX_PORT=8085"
LimitNOFILE=100000
ExecStart=/app/kafka/confluent-7.0.1/bin/connect-distributed /app/kafka/confluent-7.0.1/etc/kafka/connect-distributed.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
